.top-bar
  .container
    #module-search

%section.top-results
  .container
    #module-list

%section.preview
  .container
    #module-preview

- content_for :js do
  = javascript_include_tag 'pages/index', 'data-turbolinks-track' => true
