.slot-picker__module-code,
.slot-picker__module-title {
  text-align: center;
  -moz-text-align: center;
}

.slot-picker__module-code {
  font-size: 2rem;
  margin-bottom: 0;
}

.slot-picker__module-title {
  margin-top: 0;
}

