@import "compass/utilities/general/clearfix";

.timetable-preview {
  margin-top: $rhythm-margin;
}

.timetable-preview__timeline {
  @include clearfix;
}

$timetable-preview-day-width: 1.5rem;

.timetable-preview__day {
  width: $timetable-preview-day-width;
  text-align: center;
  -moz-text-align: center;
  font-weight: $font-weight-extrabold;
  float: left;
}

.preview-list {
  margin-left: $timetable-preview-day-width;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    border-top: 2px dotted #eee;

    top: 50%;
    @include transform(translateY(-50%));
    z-index: 1;
  }
}

$segments: 16;
$segment-width: 100% / $segments;

.preview-list__item {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: .75rem;
  font-weight: $font-weight-extrabold;
  text-align: center;
  -moz-text-align: center;
  padding: 0 1px;

  @include transition(background-color 0.25s ease-out 0s);

  @for $i from 1 through 4 {
    &.duration-#{$i} {
      width: $segment-width * $i;
    }
  }

  @for $i from 8 through 23 {
    &.start-#{$i} {
      left: ($i - 8) * $segment-width;
    }
  }

  &.grayed-out {
    background-color: #ddd !important;
  }
}
