@import "elvis/variables"
//-------------------------------------------------------------------------------------------------
// ELVIS STYLESHEET
//-------------------------------------------------------------------------------------------------
/**
 * Table of Contents:
 * 1. Default overrides
 */

//-------------------------------------------------------------------------------------------------
// 1. DEFAULT OVERRIDES
//-------------------------------------------------------------------------------------------------
/* Override ugly default link styles */
a
  text-decoration: none
  color: inherit

/* Responsive images */
img.responsive
  width: 100%
  max-width: 100%

img.v-responsive
  height: 100%
  max-height: 100%

/* Using main font */
html,
body
  font-family: $font-family
  +box-sizing(border-box)
  font-size: $font-size

*
  font-family: inherit
  font-size: inherit
  +box-sizing(inherit)

h1, h2, h3, h4, h5, h6
  font-weight: 400
  margin: 0

h1
  font-size: 2.8em

h2
  font-size: 1.5em

@media #{$medium-up}
  h2
    font-size: 2em

button,
.button,
input[type="submit"]
  border: none
  $bg: $secondary-color
  $bevel: 0.2em
  border-bottom: $bevel solid scale-lightness($bg, -40%)
  outline: none
  padding: 0.66em 2.5em
  text-transform: uppercase
  font-weight: 600
  color: white
  background: $bg
  +border-radius(.25em)
  margin-top: 1em
  +transition(background 0.25s ease-out 0s)

  &:hover
    background: scale-lightness($bg, 10%)

  &:active
    border-bottom-width: 0
    +transform(translateY($bevel))

  &.postfix
    margin: 0
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    height: 2.1em
    line-height: .8
    display: inline-block
    float: left
    border-bottom: none
    padding: 0.25em 1em
    text-transform: none
    background-color: $primary-color

input[type="text"],
input[type="email"],
input[type="password"]
  border: 1px solid $primary-color
  outline: none
  padding: .3em

  &.has-postfix
    display: inline-block
    float: left

.search-box
  position: relative
  input[type="text"]
    padding-left: 1.8em
  i.fa-search
    position: absolute
    $size: 1em
    width: $size
    height: $size
    left: .5em
    top: .5em
    z-index: 1
    color: $primary-color
//-------------------------------------------------------------------------------------------------
// 2. USEFUL CLASSES
//-------------------------------------------------------------------------------------------------
=text($align)
  text-align: $align
  -moz-text-align: $align

.container
  width: 100%
  max-width: 1000px
  margin: auto
  padding-left: $container-hpadding
  padding-right: $container-hpadding

@media #{$large-up}
  .container
    padding-left: 0
    padding-right: 0
//-------------------------------------------------------------------------------------------------
// 3. TOP BAR
//-------------------------------------------------------------------------------------------------
header
  width: 100%
  padding-top: $header-vpadding
  padding-bottom: $header-vpadding

.top-bar
  $height: 2.8em
  height: $height
  line-height: $height
  margin: auto
  +clearfix
  +text(center)
  overflow: visible

  .logo
    .logo-img,
    .logo-text
      display: inline-block

  nav
    display: none

  .logo-img
    $size: 2rem
    width: $size
    height: $size

@media #{$medium-up}
  .top-bar
    +text(left)
    margin-top: 3em
    +transition(margin-top 0.25s ease-out 0s)

    &.active
      margin-top: 0

    .logo,
    nav
      display: inline-block

    .logo
      float: left

    nav
      float: right

      a
        text-transform: uppercase
        margin-right: 2em
        border-bottom: 1px solid transparent
        +transition(all 0.25s ease-out 0s)

        &:hover
          border-bottom: 1px solid $primary-color

        &:last-child
          margin-right: 0

        &.action
          border: 2px solid $primary-color
          color: $primary-color
          padding: .25em 1em
          font-weight: 600
          +border-radius(.5em)

          &:hover
            color: white
            background-color: $primary-color

    .modules-box
      position: relative
      display: none

      .search-box,
      form
        +clearfix
    // .topbar.active
    &.active
      .logo-text
        display: none
      .modules-box
        display: block

      // fix display for boxes
      #modules-mount-point,
      .modules-box,
      .modules-box form,
      .search-box
        display: inline-block
        float: left

      form
        margin-left: 1em

%highlighted-list-item
  background-color: scale-lightness(white, -5%)

.modules-list
  position: absolute
  list-style: none
  top: 2em
  left: 1em
  width: $search-box-width
  padding: 0
  margin: .5em 0 0 0
  height: 32px
  +single-box-shadow(0px,1px,2px,1px,rgba(0,0,0,.16))

  li
    +clearfix
    $height: 2rem
    height: $height
    line-height: $height
    margin-bottom: 1px
    cursor: pointer

    &.active
      @extend %highlighted-list-item

    &.empty-item
      padding-left: .5em
      cursor: default

      &:hover
        background-color: inherit

  .module-code,
  .module-title
    display: inline-block
    float: left

  $module-code-width: 5em

  .module-code
    color: white
    +text(center)
    width: $module-code-width
    font-size: .75rem
    width: 6em
    font-weight: 600
    $height: 1.5rem
    height: $height
    line-height: $height
    margin: .25rem

  .module-title
    max-width:  $search-box-width - $module-code-width

.splash
  +text(center)

@media #{$medium-up}
  .top-bar
    .modules-list,
    .search-box input[type="text"]
      min-width: $search-box-width

  .splash
    +text(left)
//-------------------------------------------------------------------------------------------------
// MAIN SECTION
//-------------------------------------------------------------------------------------------------
.main-section
  +clearfix

.timetable-display,
.modules-display
  display: inline-block
  float: right
/* Timetable */
.timetable-display
  width: 100%
/* Modules Display */
.modules-display
  width: 100%

.modules-display-list
  list-style: none
  margin: 0
  padding: 0

  $list-item-height: 3em

  li
    +clearfix
    height: $list-item-height
    margin-bottom: 2px

  .module-ordinal,
  .module-remove
    width: 1em

  .module-ordinal,
  .module-info
    float: left

  .module-remove
    float: right

  .module-ordinal
    line-height: $list-item-height
    +text(center)
    color: white

  .module-info
    +display-flex
    +flex-direction(column)
    +justify-content(center)
    margin: 0 .5em

  .module-code
    font-weight: 600

  .module-remove
    line-height: $list-item-height

  .remove-button
    background: rgba(#333,0.25)
    border: none
    padding: 0
    margin: 0
    +border-radius(50%)
    $size: 1em
    width: $size
    height: $size
    line-height: $size
    color: white

    &:hover
      background: rgba(#333,1)

@media #{$medium-up}
  .timetable-display
    width: 60%
  .modules-display
    width: 40%

@media #{$medium-up}
  .timetable-display
    width: 70%
  .modules-display
    width: 30%

