@import "elvis/variables"
//-------------------------------------------------------------------------------------------------
// ELVIS STYLESHEET
//-------------------------------------------------------------------------------------------------
/**
 * Table of Contents:
 * 1. Default overrides
 */

//-------------------------------------------------------------------------------------------------
// 1. DEFAULT OVERRIDES
//-------------------------------------------------------------------------------------------------
/* Override ugly default link styles */
a
  text-decoration: none
  color: inherit

/* Responsive images */
img.responsive
  width: 100%
  max-width: 100%

img.v-responsive
  height: 100%
  max-height: 100%

/* Using main font */
html,
body
  font-family: $font-family
  +box-sizing(border-box)
  font-size: $font-size

*
  font-family: inherit
  font-size: inherit
  +box-sizing(inherit)

h1, h2, h3, h4, h5, h6
  font-weight: 400
  margin: 0

h1
  font-size: 2.8em

h2
  font-size: 1.5em

@media #{$medium-up}
  h2
    font-size: 2em

button,
.button,
input[type="submit"]
  border: none
  $bg: $secondary-color
  $bevel: 0.2em
  border-bottom: $bevel solid scale-lightness($bg, -40%)
  outline: none
  padding: 0.66em 2.5em
  text-transform: uppercase
  font-weight: 600
  color: white
  background: $bg
  +border-radius(.25em)
  margin-top: 1em
  +transition(background 0.25s ease-out 0s)

  &:hover
    background: scale-lightness($bg, 10%)

  &:active
    border-bottom-width: 0
    +transform(translateY($bevel))

  &.postfix
    margin: 0
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    height: 2.1em
    line-height: .8
    display: inline-block
    float: left
    border-bottom: none
    padding: 0.25em 1em
    text-transform: none
    background-color: $primary-color

input[type="text"],
input[type="email"],
input[type="password"]
  border: 1px solid $primary-color
  outline: none
  padding: .3em

  &.has-postfix
    display: inline-block
    float: left

.search-box
  position: relative
  input[type="text"]
    padding-left: 1.8em
  i.fa-search
    position: absolute
    $size: 1em
    width: $size
    height: $size
    left: .5em
    top: .5em
    z-index: 1
    color: $primary-color
//-------------------------------------------------------------------------------------------------
// 2. USEFUL CLASSES
//-------------------------------------------------------------------------------------------------
=text($align)
  text-align: $align
  -moz-text-align: $align

.container
  width: 100%
  max-width: 1000px
  margin: auto
  padding-left: $container-hpadding
  padding-right: $container-hpadding

  &.absolute
    position: absolute
    left: 50%
    +transform(translateX(-50%))

@media #{$large-up}
  .container
    padding-left: 0
    padding-right: 0
//-------------------------------------------------------------------------------------------------
// 3. TOP BAR
//-------------------------------------------------------------------------------------------------
header
  width: 100%
  padding-top: $header-vpadding
  padding-bottom: $header-vpadding

.top-bar
  $height: 2.8em
  height: $height
  line-height: $height
  margin: auto
  +clearfix
  +text(center)
  overflow: visible

  .logo
    .logo-img,
    .logo-text
      display: inline-block

  nav
    display: none

  .logo-img
    $size: 2rem
    width: $size
    height: $size

@media #{$medium-up}
  .top-bar
    +text(left)
    margin-top: 3em
    +transition(margin-top 0.25s ease-out 0s)

    &.active
      margin-top: 0

    .logo,
    nav
      display: inline-block

    .logo
      float: left

    nav
      float: right

      a
        text-transform: uppercase
        margin-right: 2em
        border-bottom: 1px solid transparent
        +transition(all 0.25s ease-out 0s)

        &:hover
          border-bottom: 1px solid $primary-color

        &:last-child
          margin-right: 0

        &.action
          border: 2px solid $primary-color
          color: $primary-color
          padding: .25em 1em
          font-weight: 600
          +border-radius(.5em)

          &:hover
            color: white
            background-color: $primary-color

    .modules-box
      position: relative
      display: none

      .search-box,
      form
        +clearfix
    // .topbar.active
    &.active
      .logo-text
        display: none
      .modules-box
        display: block

      // fix display for boxes
      #modules-mount-point,
      .modules-box,
      .modules-box form,
      .search-box
        display: inline-block
        float: left

      form
        margin-left: 1em

%highlighted-list-item
  background-color: scale-lightness(white, -5%)

.modules-list
  position: absolute
  background-color: white
  list-style: none
  top: 2em
  left: 1em
  width: $search-box-width
  padding: 0
  margin: .5em 0 0 0
  height: 32px
  +single-box-shadow(0px,1px,2px,1px,rgba(0,0,0,.16))

  li
    +clearfix
    $height: 2rem
    height: $height
    line-height: $height
    margin-bottom: 1px
    cursor: pointer

    &.active
      @extend %highlighted-list-item

    &.empty-item
      padding-left: .5em
      cursor: default

      &:hover
        background-color: inherit

  .module-code,
  .module-title
    display: inline-block
    float: left

  $module-code-width: 5em

  .module-code
    color: white
    +text(center)
    width: $module-code-width
    font-size: .75rem
    width: 6em
    font-weight: 600
    $height: 1.5rem
    height: $height
    line-height: $height
    margin: .25rem

  .module-title
    max-width:  $search-box-width - $module-code-width

//-------------------------------------------------------------------------------------------------
// CONTENT SECTIONS
//-------------------------------------------------------------------------------------------------
.splash-section,
.main-section
  opacity: 0
  display: none
  +transition(opacity 0.25s ease-out 0s)

  &.shown
    opacity: 1

.splash-section
  +text(center)

@media #{$medium-up}
  .top-bar
    .modules-list,
    .search-box input[type="text"]
      min-width: $search-box-width

  .splash-section
    +text(left)
//-------------------------------------------------------------------------------------------------
// MAIN SECTION
//-------------------------------------------------------------------------------------------------
.main-section
  +clearfix
  z-index: -1

.timetable-display,
.modules-display
  display: inline-block
  float: right
/* Timetable */
.timetable-display
  width: 100%
/* Modules Display */
.modules-display
  width: 100%

.modules-display-list
  list-style: none
  margin: 0
  padding: 0

  $list-item-height: 4.5em

  li
    +clearfix
    height: $list-item-height
    margin-bottom: .25em

  .module-ordinal,
  .module-remove
    width: 1em

  .module-ordinal,
  .module-info
    float: left

  .module-remove
    float: right

  .module-ordinal
    line-height: $list-item-height
    +text(center)
    color: white

  .module-info
    +display-flex
    +flex-direction(column)
    +justify-content(center)
    margin: 0 .5em

  .module-code
    font-weight: 600

  .module-remove
    line-height: $list-item-height

  .remove-button
    background: rgba(#333,0.25)
    border: none
    padding: 0
    margin: 0
    +border-radius(50%)
    $size: 1em
    width: $size
    height: $size
    line-height: $size
    color: white

    &:hover
      background: rgba(#333,1)

@media #{$large-up}
  .timetable-display
    width: 60%
  .modules-display
    width: 40%
//-------------------------------------------------------------------------------------------------
// TIMETABLE
//-------------------------------------------------------------------------------------------------
.timetable-box
  +clearfix

.timeline,
.agenda-display
  padding: 0 .5em

$timeline-separator-color: #aaa
$timeline-width: 11.75em

.timeline
  width: $timeline-width
  float: left
  position: relative
  border-right: 1px solid $timeline-separator-color
//-------------------------------------------------------------------------------------------------
// TIMELINE
//-------------------------------------------------------------------------------------------------
.timeline::before
  content: ''
  display: block
  position: absolute
  background-color: #f3f3f3
  width: .25em
  height: 100%
  top: 0
  right: 1.4em
  z-index: -1

.timeline::after
  content: ''
  display: block
  $size: .5em
  width: $size
  height: $size
  +transform(rotate(-45deg))
  background-color: white
  $border: 1px solid $timeline-separator-color
  border-top: $border
  border-left: $border
  position: absolute
  right: -0.3125rem
  +transition(top 0.5s ease-out 0s)

$timeline-marks-last-index: 6
$timeline-mark-height: 2em
$timeline-mark-margin: 3em
$timeline-mark-distance: $timeline-mark-height + $timeline-mark-margin

@for $i from 0 through $timeline-marks-last-index
  .timeline.mark-#{$i}::after
    top: 0.75em + $timeline-mark-distance * $i

.timeline-mark
  +clearfix
  $height: $timeline-mark-height
  height: $height
  line-height: $height
  margin-bottom: $timeline-mark-margin
  cursor: pointer

  .mark-text,
  .mark
    display: inline-block

  .mark-text
    float: left
    width: 11em
    background-color: transparent
    color: #ccc
    font-size: .75rem
    +transition(opacity 0.25s ease-out 0s)
    +border-radius(.25em)
    +text(right)

    .today-sign
      color: #000
      font-weight: 600

  .mark
    float: right
    $size: 1em
    height: $size
    width: $size
    margin: .5em
    +border-radius(50%)
    background-color: $primary-color
    border: 2px solid rgba(white,0.8)
    +transition(all 0.25s ease-out 0s)

  &.active .mark
    background-color: $secondary-color
    +transform(scale(1.25))

  &:hover
    .mark
      border-color: rgba(white, 1)
      +transform(scale(1.5))
//-------------------------------------------------------------------------------------------------
// TIMESLOTS/AGENDA
//-------------------------------------------------------------------------------------------------
.agenda-display
  margin-left: $timeline-width
  margin-bottom: 1.5em

.agenda-title
  font-weight: 600
  font-size: .875rem
  margin-left: 0.5rem
  margin-bottom: .5rem

.agenda-list
  list-style: none
  margin: 0
  padding: 0

  li
    margin-bottom: .25em
    +clearfix

    &.empty-item
      padding-left: 1rem
      line-height: 2rem
      font-weight: 300

$agenda-time-width: 4rem

.agenda-time,
  float: left
  font-size: .75rem
  width: $agenda-time-width
  padding-right: .5rem
  color: $timeline-separator-color
  padding-top: 1.25rem
  +text(right)

.agenda-details
  margin-left: $agenda-time-width
  padding: .25em 0 .25em .5em
  border-left: 3px solid transparent
  cursor: pointer

.agenda-module
  font-weight: 600

.agenda-venue
  color: #888
  font-size: .8rem
  font-weight: 300

.module-slots
  +clearfix

$slots-group-width: 5rem

.slots-group
  display: inline-block
  float: left
  margin-right: .25em
  cursor: pointer
  width: $slots-group-width

  &.active
    .slots-label
      border-color: $primary-color
      color: $primary-color

      &::after
        color: $primary-color

    .slots-list
      display: block
      opacity: 1

.slots-label
  font-size: .75rem
  +border-radius(.25em)
  padding: 0.2em 1.5em 0.2em 0.5em
  $outline-color: #ccc
  border: 1px solid $outline-color
  position: relative
  +transition(all 0.25s ease-out 0s)

  &::after
    content: '▼'
    display: block
    position: absolute
    $margin: .25rem
    top: $margin
    right: $margin
    font-size: .625rem
    color: $outline-color
    +transition(color 0.25s ease-out 0s)

.slots-list
  list-style: none
  margin: 0
  padding: .1rem 0 0 0
  border: 1px solid #ccc
  border-radius: .25em

  background-color: white

  position: absolute
  z-index: 1
  display: none
  opacity: 0
  +transition(all 0.25s ease-out 0s)

  li
    $height: 1.5em
    height: $height
    line-height: $height
    width: $slots-group-width
    padding-left: .5em
    font-size: .75rem
    &:hover
      background-color: #eee
