//
// DEFINITIONS
//
$splash-wrapper-bg: $oil
//
// OVERRIDES
//
.top-bar-section ul li
  background: transparent

  & > a
    text-transform: uppercase

.button.postfix
  padding: 0
//
// SPLASH
//
.splash-wrapper
  background: $splash-wrapper-bg
  color: #fff

  *
    color: inherit

.splash
  padding: 2em 0 3em 0

  h2
    font-size: 2.5rem
    margin-bottom: 1em

//-------------------------------------------------------------------------------------------------
// MODULES BOX REACT COMPONENT
//-------------------------------------------------------------------------------------------------
.modules-box
  +clearfix
  +transition(height 0.25s ease-out 0s)

.modules-form input
  margin: 0

.modules-list
  list-style: none
  margin: 0
  padding: 0.25em 0
  background-color: $white
  color: $oil
  position: absolute
  +border-radius($global-radius)

  li
    padding: 0.1em 0.5em
    +transition(all 0.25s ease-out 0s)
    cursor: pointer

    &:hover
      background-color: scale-lightness($white, -5%)

    .module-code,
    .module-title
      display: inline-block

    .module-code
      min-width: 6em
      background-color: $oil
      color: $white
      text-transform: uppercase
      font-weight: $font-weight-semibold
      font-size: .75rem
      text-align: center
      -moz-text-align: center
      +transform(translateY(-.1em))

    .module-title
      margin-left: .5em
